/* simpgpt/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .delay-100 {
    animation-delay: 0.1s;
  }
  .delay-200 {
    animation-delay: 0.2s;
  }
}

body {
  margin: 0;
  padding: 0;
}